@import url('https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Work+Sans:ital,wght@0,100;0,200;0,300;1,100;1,200;1,300&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-white text-ink;
  font-family: 'Spectral', serif;
  overflow-x: hidden;
}

/* Layout */
.container {
  margin: 0 auto;
}
.project--container {
  @apply grid-cols-1 xs:grid-cols-2;
  // sm:grid-cols-3 md:grid-cols-4;
}

.project--card:hover {
  div {
    @apply top-0;
  }
}
.name {
  font-family: 'Work Sans', sans-serif;
}
.banner-text {
  float: left;
  font-family: 'Work Sans', sans-serif;
  letter-spacing: 0.5em;
  span {
    display: inline-block;
  }
}
